<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <title>Blog | <%= title %></title>
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <img src="images/blog-49006_1280.png" alt="">
        </div>

        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/posts">POSTS</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
        </ul>
        <form action="/posts" method="get" enctype="multipart/form-data">
            <input type="text" name="search" placeholder="Search">
        </form>
    </header>

    <!-- viral Posts -->
    <section class="posts">
        <h1>Posts</h1>
        <select name="cat" id="" onchange="location = '/categories/'+ this.value">
            <% cats.forEach(cat => { %>
                <option value="<%=cat.categoryId%>"><%=cat.name%></option>
            <% }); %>
        </select>
        <div class="cards-container">
            <% posts.forEach(post => { %>
                <div class="wrapper">
                    <a href="/posts/<%=post.postId%>">
                        <div class="card">
                            <img src="uploads/posts/<%=post.picture%>" alt="">
                            <h3><%= post.title %></h3>
                            <p class="content"><%= post.content %></p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="/updatePost/<%=post.postId%>"><button class="update">Update</button></a>
                        <form action="/posts/delete/<%=post.postId%>" method="POST"><button class="delete" type="submit">Delete</button></a>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>

    <footer>
        &copy; OUAFIDI Oussama
    </footer>
</body>
</html>